[user]
	name = Matine Chabrier
	email = matine.chabrier@gmail.com
[color]
	branch = on
	diff = on
	interactive = on
	status = on
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main